<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Connect with us</h4>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/oncrawl" class="footer__link"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/OnCrawl" class="footer__link"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.pinterest.com/oncrawl/" class="footer__link"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="https://plus.google.com/104727254562149035385" class="footer__link"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/oncrawl" class="footer__link"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCe7SabK7xLP1mzoqwEuU-Kg/featured" class="footer__link"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="http://fr.slideshare.net/OnCrawl" class="footer__link"><i class="fa fa-slideshare"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Resources</h4>
                <ul class="list-unstyled">
                    <li><a href="http://www.oncrawl.com/blog/" class="footer__link">Blog</a></li>
                    <li><a href="http://www.oncrawl.com/features/" class="footer__link">OnCrawl Features</a></li>
                    <li><a href="https://toolbox.oncrawl.com/" class="footer__link">OnCrawl Toolbox</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li><a href="{{ site.company_url }}/about/" class="footer__link">About</a></li>
                    <li><a href="{{ site.company_url }}/contact/" class="footer__link">Contact</a></li>
                    <li><a href="{{ site.company_url }}/terms/" class="footer__link">Terms of service</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Keep in Touch</h4>
                <address>
                    OnCrawl by Cogniteev<br />
                    2 rue du doyen Brus, <span class="text-nowrap">Unitec Park 1</span><br />
                    Pessac, 33600, France<br />
                    +33 (0) 972 537 522<br />
                    <a href="mailto:hello@oncrawl.com" class="footer__link">hello@oncrawl.com</a>
                </address>
            </div>
        </div>
    </div>
</footer>
